<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>

		<div class="container card-sh">
			
				<div class="col-md-12 p-5">
					<div class="row">
					<div class="col-md-6 text-end">
						<img src="/img/product_img/laptop.jpg" alt="..." height="400px"
							width="330px">
					</div>
					
					
					
					<div class="col-md-6">
					
					<p class="fs-3 ">Lpatop</p>
					<p><span class="fa-bold">Description: </span><br> HP LAPTOP, SSD </p>
					
					<p>
					<span class="fa-bold">Product Details: </span><br> HP LAPTOP, SSD 
					<span class="fa-bold">Available: </span><br> HP LAPTOP, SSD 
					<span class="fa-bold">out of stock: </span><br> HP LAPTOP, SSD 
					
					
					
					</p>
					
					
					
					
					</div>
					
				</div>
			</div>
		</div>
	</section>

</body>
</html>